  //- Home Listing Mixins
mixin generateMainPhoto(mainPhoto)
  #container
      .large-12.columns#top-image
      img(src='#{mainPhoto.image}')
      a(href='/gallery/:id') www.pexels.com

//- photo is like i
mixin generatePhotos(photos)
  each photo, index in photos
      .large-4.columns.side-img
        a(href='/gallery/:id')
        img(src='#{photo.image}')
        p #{photo.title}

//- Home Detail Mixins
mixin generateMainPhotoInDetail(mainPhoto)
  #containerDetail
    .large-8.columns.main-img
      img(src='#{mainPhoto.image}')
      p #{mainPhoto.title}
      a(href='/gallery/:id') www.pexels.com

mixin generatePhotosInDetail(photos)
  #photoContainerDetail
    each photo in photos
      .large-4.columns.side-img-detail
        a(href='/gallery/:id')
        img(src='#{photo.image}')
        p #{photo.title}
